body {
  font-family: roboto, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 18px;
}

button {
  background-color: #3882f6;
  border-radius: 10px;
  color: #f9faf8;
  font-weight: 700;
  padding: 10px 25px;
  border: 0;
}

h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900px;
  margin: 0;
}

h2 {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  padding: 10px 0;
}

h4 {
  color: #1f2937;
  font-size: 24px;
  font-weight: 700;
  text-align: end;
  margin-top: 0;
  max-width: 775px;
}

li {
  list-style-type: none;
}

.box {
  border: #3882f6;
  border-radius: 15px;
  border-style: solid;
  border-width: 4px;
  height: 140px;
  width: 140px;
}

.call {
  background-color: #3882f6;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  padding: 0 80px;
  gap: 80px;
}

.call button {
  border: #f9faf8;
  border-style: solid;
  border-width: 2px;
}

.call h4 {
  color: #f9faf8;
  margin: 40px 0 0 0;
}

.call p {
  font-size: 16px;
  margin: 5px 0 40px 0;
}

.call-box {
  display: flex;
  justify-content: center;
  margin: 100px;
}

.call-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content {
  padding: 0 150px;
}

.header {
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}

.header-links {
  display: flex;
  gap: 35px;
}

.hero {
  background-color: #1f2937;
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  gap: 20px;
}

.hero,
p {
  color: #e5e7eb;
  font-size: 18px;
}

.information {
  background-color: #f9faf8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-items {
  display: flex;
  width: 150px;
  justify-content: center;
  gap: 40px;
  padding-bottom: 100px;
}

.info-items p {
  color: #1f2937;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}

.placeholder-img {
  background: #83858a;
  color: #e5e7eb;
  width: 900px;
  padding: 50px 0;
  margin-left: 50px;
  text-align: center;
}

.quotation {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 85px;
  padding-bottom: 85px;
}

.quotation h4 {
  align-self: flex-end;
  margin-right: 200px;
}

.quotation p {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  margin: 10px 0;
  max-width: 775px;
}
